<ion-header>

  <standart-navbar [type]="0" title="Авторизация" ></standart-navbar>
</ion-header>

<ion-content>
  <ion-list class="list_statuses">
    <ion-item class="head_text">
      Впишите данные
    </ion-item>
      <ion-item class="dopotstup label_inputs text-input">
        <ion-input class="label_inputs input" [(ngModel)]="username" type="text" placeholder="Логин"></ion-input>
        <ion-icon name="login_icon" item-end></ion-icon>
      </ion-item>
      <ion-item class="label_inputs text-input">
        <ion-input class="label_inputs" [(ngModel)]="password" type="password" placeholder="Пароль"></ion-input>
        <ion-icon name="password_icon" item-end></ion-icon>
      </ion-item>
      <button (tap)="Login()" id="login" text-center ion-item class="purple_button">
        Войти
      </button>
  </ion-list>
</ion-content>
