page-authorization {
    font-family: 'Roboto', sans-serif;
    .purple_button{
        $margin:20%;
        margin-left:$margin;
        $width:100% - $margin * 2;
        width:$width;
        

    }
    .list_statuses{
        .dopotstup{
            margin-top: 3.15rem !important;
        }
        .label_inputs + .label_inputs{
            margin-top: 1.95rem;
        }
    }
}
