<ion-header>
  <standart-navbar title="Мои компании"></standart-navbar>
</ion-header>


<ion-content>
  <button class="purple_button" ion-item text-center (click)="trans()">
    <ion-icon name="add_task"></ion-icon>
    ДОБАВИТЬ КОМПАНИЮ
  </button>
  <div class="block">
    <ion-list>
      <ion-item no-lines *ngFor="let item of company">
        <ion-avatar item-start class="image-upload" (tap)="sellectCompany(item)">
          <img *ngIf="item.emblem != null && item.emblem.file_name != null" [src]="item.emblem.file_name">
        </ion-avatar>
        <span (tap)="sellectCompany(item)">{{item.name}}</span>
        <button item-end ion-button clear (tap)="del_company(item)">
          <ion-icon name="trash_icon"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </div>
  <!--<div>
    <ion-list>
      <ion-item-sliding *ngFor="let item of company">
      <button ion-item (tap)="sellectCompany(item)">
        <ion-avatar item-start class="image-upload">
          <img *ngIf="item.emblem != null && item.emblem.file_name != null" [src]="item.emblem.file_name">
        </ion-avatar>
        {{item.name}}
      </button>
      </ion-item-sliding>
    </ion-list>
  </div>-->
</ion-content>
    <!--<ion-list>
      <button ion-button small class="purple_button" (tap)="trans()">Добавить компанию</button>
    </ion-list>
    <ion-list>
      <button ion-item *ngFor="let item of company" (tap)="sellectCompany(item)">
        {{item.name}}
      </button>
    </ion-list>-->
