page-registration {
    font-family: 'Roboto', sans-serif;
    .purple_button{
        $margin:15%;
        margin-left:$margin;
        $width:100% - $margin * 2;
        width:$width;
        font-size: 1rem;
        margin-top:0rem;

    }
    .list_statuses{
        ion-icon[name="ios-call-outline"]{
            font-size:1.5rem !important; 
        }
        .head_text{
            margin-top:0.5rem;
        }
    }
}
