<ion-header>

  <standart-navbar [type]="0" title="Регистрация" ></standart-navbar>
  
</ion-header>


<ion-content>
    <ion-list class="list_statuses">
        <ion-item class="head_text">
          Впишите данные
        </ion-item>
        <form [formGroup]="control">
          <ion-item class="label_inputs text-input">
            <ion-input class="label_inputs input" formControlName="FIO" [(ngModel)]="FIO" type="text" placeholder="ФИО"></ion-input>
            <ion-icon name="login_icon" item-end></ion-icon>
          </ion-item>
          <ion-item class="errorlabel">
            <span *ngIf="!control.controls.FIO.valid && !!control.controls.FIO.touched  && (!!control.controls.FIO.dirty)">
              ФИО должено содержать не менее 6 символов
            </span>
          </ion-item>
          <ion-item class="label_inputs text-input">
            <ion-input class="label_inputs input" formControlName="login" [(ngModel)]="username" type="text" placeholder="Логин"></ion-input>
            <ion-icon name="login_icon" item-end></ion-icon>
          </ion-item>
          <ion-item class="errorlabel">
            <span *ngIf="!control.controls.login.valid && !!control.controls.login.touched  && (!!control.controls.login.dirty)">
              Логин должен содержать не менее 6 символов
            </span>
          </ion-item>
          <ion-item class="label_inputs text-input">
            <ion-input class="label_inputs" formControlName="email" [(ngModel)]="email" type="text" placeholder="Электронная почта"></ion-input>
            <ion-icon name="email_icon" item-end></ion-icon>
          </ion-item>
          <ion-item class="errorlabel">
            <span *ngIf="!control.controls.email.valid && !!control.controls.email.touched  && (!!control.controls.email.dirty)">
              Некорректный email
            </span>
          </ion-item>
          <ion-item class="label_inputs text-input">
            <ion-input class="label_inputs" formControlName="password" [(ngModel)]="password1" type="password" placeholder="Пароль"></ion-input>
            <ion-icon name="password_icon" item-end></ion-icon>
          </ion-item>
          <ion-item class="errorlabel">
            <span *ngIf="!control.controls.password.valid && !!control.controls.password.touched  && (!!control.controls.password.dirty)">
              Пароль должен быт не менее 8 символов содержать 1 букву маленькую 1 большую букву и 1 цифру.
            </span>
          </ion-item>
          <ion-item class="label_inputs text-input">
            <ion-input class="label_inputs" [(ngModel)]="password2" formControlName="requestpassword" type="password" placeholder="Подтверждение пароля"></ion-input>
            <ion-icon name="password_icon" item-end></ion-icon>
          </ion-item>
          <ion-item class="errorlabel">
            <span *ngIf="!control.controls.requestpassword.valid && !!control.controls.requestpassword.touched  && (!!control.controls.requestpassword.dirty)">
              Пароли различаются
            </span>
          </ion-item>
          <ion-item class="label_inputs text-input">
            <ion-input class="label_inputs" [(ngModel)]="phone" formControlName="phone" type="number" placeholder="Номер телефона"></ion-input>
            <ion-icon name="ios-call-outline" item-end></ion-icon>
          </ion-item>
           <ion-item class="errorlabel">
            <span *ngIf="!control.controls.phone.valid && !!control.controls.phone.touched  && (!!control.controls.phone.dirty)">
              Номер телефона должен начинатся с 9, и содержать 11 цифр
            </span>
          </ion-item>
        </form>
        <button (tap)="Registration()" id="registr" text-center ion-item class="purple_button">
          Зарегистрироваться
        </button>
      </ion-list>
</ion-content>
    <!--<ion-item>
      <ion-input type="text" [(ngModel)]="FIO" placeholder="Введите ФИО" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="username" placeholder="Введите Логин" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="password" placeholder="Введите пароль" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="passwordCheck" placeholder="Введите повторно пароль" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="email" placeholder="Введите почту" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="phone" placeholder="Введите номер телефона" ></ion-input>
    </ion-item>
    <button (tap)="Registration()" id="registr" text-center ion-item class="purple_button">
        Зарегистрироваться
      </button>-->
