page-home {
    font-family: 'Roboto', sans-serif;
    .purple_button{
        $margin:10%;
        margin-left:$margin;
        $width:100% - $margin * 2;
        width:$width;
        font-size:1rem;
    }
    .dopotstup{
        margin-top: 1.5rem !important;
    }
}