<ion-header>
  <standart-navbar title="Сканирование промокодов" ></standart-navbar>
</ion-header>

<ion-content>
  <ion-list class="list_statuses">
    <ion-item class="head_text">
      Выберите ввод
    </ion-item>
    <button (tap)="QRscanner()" id="login" text-center ion-item class="purple_button">
      Сканировать
      <ion-icon name="promocode_icon"></ion-icon>
    </button>
    <ion-item class="dopotstup label_inputs text-input">
      <ion-input class="label_inputs input" [(ngModel)]="QRkey" type="text" placeholder="Введите промокод"></ion-input>
    </ion-item>
    <button (tap)="goinfo(QRkey)"   id="login" text-center ion-item class="purple_button">
      ОК
    </button>
  </ion-list>
</ion-content>
