<ion-header>
  <standart-navbar title="Информация о промокоде" ></standart-navbar>
</ion-header>


<ion-content>
  <ion-card class="text-card">
    <ion-slides pager>
      <ion-slide *ngFor="let item of promocod.products">
        <ion-thumbnail>
          <img [src]="item.image.file_name">
        </ion-thumbnail>
        <ion-item text-center>
            {{item.description}}
        </ion-item>
      </ion-slide>
    </ion-slides>
    <div class="block">
        <ion-item class="head">
          {{promocod.company.name}}
        </ion-item>
        <ion-item class="head_task">
          <div item-start class="icon-wrapper">
            <ion-icon name="task-icon"></ion-icon>
          </div>
          {{promocod.header}}
        </ion-item>
        <!--Цена за лайк-->
        <ion-item class="head_task time">
          <div class="icon-wrapper">
            <ion-icon name="clock_icon"></ion-icon>
          </div>
          Сроки
          <div item-content>
            {{promocod.date_start.date}}
            <span class="time24">{{promocod.date_end.time}}</span><br>
            {{promocod.date_end.date}}
            <span class="time24">{{promocod.date_end.time}}</span>
          </div>
        </ion-item>
    </div>
    <div class="block">  
        <ion-item  class="head">
          Информация по промокоду
        </ion-item>
        <ion-item class="text_task"> 
          <div [innerHTML]="promocod.description_buyer"></div>
        </ion-item>
      </div>
      
    
  </ion-card>

</ion-content>
