page-info {
    font-family: 'Roboto', sans-serif;
    .notdownpadding{
        padding: 0;
        button{
            padding: 0.5rem 0rem;
            .label{
                text-align: center;
                text-transform: uppercase;
                font-weight: 600;
                color: #853ee6;
                font-size: 1rem;
                
            }
        }
    }
    .button-wrapper{
        ion-icon[item-start]{
            font-size: 2rem;
            min-height: 0;
            margin:auto;
        }
        ion-icon[name="instagram_circle_icon"]{
            color:#bd7fcc;
        }
        ion-icon[name="vkontakte_circle_icon"]{
            color:#4d75a3;
        }
        ion-icon[name="facebook_circle_icon"]{
            color: #405d9e;
        }
        >button{
            font-size: 1.2rem;
        }
    }
    .scroll-content{
        padding: 0;
        
        >button{
            position: absolute;
            color: #ffffff;
            font-size: 0.7rem;
            z-index: 10000;
            ion-icon{
                margin-bottom: 1.2rem;
            }
        }
        .text-card{
            box-shadow: none;
            padding-bottom: 2.5rem;
            ion-slides{
                .swiper-container{
                    padding-bottom:1rem;
                    font-size: 0;
                    ion-slide{
                        ion-thumbnail{
                            margin-top:0.8rem;
                            height: 13rem;
                            max-height: 13rem;
                            border-bottom-right-radius: 0.6rem;
                            border-bottom-left-radius: 0.6rem;
                            img{
                                margin:auto;
                                max-height: 13rem;
                            }
                        }
                        .item{
                            margin-top:0.5rem;
                            margin-bottom:0.5rem;
                            padding-left:0;   
                        }

                    }
                    .swiper-pagination{
                        button{
                            $diametr:0.65rem;
                            height:$diametr;
                            width: $diametr;	
                            
                        }
                        .swiper-pagination-bullet-active{
                            background: #4E4184;
                        }
                    }
                    
                }
            }
            .item{
                padding-left: 0.9rem;
            }
        }
    }
}
.text-card {
    width: 100%;
    margin: 0;
    //margin-top: 1rem;
    padding: 0 0 1.1rem 0;
    //border-top: 1px solid #c8c7cc;
    //border-bottom: 1px solid #c8c7cc;
    //box-shadow: none !important;
    ion-icon{
        min-height: 0.2rem;
    }
    ion-label {
        padding: 0;
        margin: 0;
    }
    ion-card-content {
        padding: 0;
        //padding-top: 0.45rem;
    }
    ion-thumbnail {
        overflow: hidden;
        max-height: 12.5rem;
        width: 100%;
        //margin-bottom: 0.45rem;
        img{
            border-radius: 0.6rem;
            margin-top: 0.5rem;
            max-height: 12.5rem;
        }
        div {
            width: 100%;
            background-size: cover;
            height: 12.24rem;
        }
    }
    .upmar{
        ion-thumbnail{
            
            margin-top: 0.45rem;
        }
    }
    .notdownmar{
        ion-thumbnail{
            margin-bottom: 0;
        }
    }
    .otstup_aplications:not(:first-child){
        margin-top: 1.9rem;
    }
    .picture-block{
        position: relative;
        .money{
            position: absolute;
            bottom: 0;
            right: 0.6rem;
            width: 5rem;
            background: #ffffff;
            text-align: center;
            height: 1.6rem;
            border-top-left-radius: 0.6rem;
            border-top-right-radius: 0.6rem; 
            color: #853ee6;
            font-size: 1rem;
            ion-icon{
                font-size: 0.8rem;
            }
            ion-icon[name="amount_likes"]{
                margin-left: 0.2rem;
            }
        }
    }
    .block{
        margin-top: 1.25rem;
        .label{
            white-space: normal;
            max-width: 100%;
        }
        .head + .item{
            margin-top: 0.56rem;
        }
        .item:not(:last-child, :first-child){
            margin-bottom: 0.41rem; 
        }
        .item:last-child{
            margin-bottom: 0;
        }
        .head{
            font-size: 1.1rem;
            font-weight: 600;
        }
        .head_task {
            margin-bottom: 0.925rem;
            font-size: 0.75rem;
            letter-spacing: 0.001rem;
            font-family: 'Roboto';
            font-weight: 400;
            color: black;
            min-height: 20px;
            align-items: baseline;
            .icon-wrapper{
                width: 1rem;
                text-align: center;
                margin-right: 0.4rem !important;
                ion-icon{
                    font-size: 0.65rem;
                }
                ion-icon[name="task-icon"]{
                    margin: 0;
                    margin-top: 0.15rem;
                }
                ion-icon[name="clock_icon"]{
                    font-size: 0.75rem;
                }
                ion-icon[name="ostavshiysya_biudget"]{
                    font-size: 0.5rem;
                }
            }
            .icon-wrapper[item-start]{
                margin: 0;
            }
            .label{
                white-space: normal;
                max-height: 2rem;
                flex: none;
                .date{
                    font-weight: 600;   
                }
                .status{
                    margin-left: 0.3rem;
                }
                .purple{
                    color: #853ee6;
                    margin-left: 0.7rem;
                    ion-icon{
                        font-size: 0.6rem;
                    }
                }
            }
        }
        .pricelike {
            font-weight: 400;
            ion-icon{
                margin-right: 0.42rem;
                font-size: 0.55rem;
            }
            .purple{
                margin-left: 0.6rem;
                color: #6535bf;
                font-weight: 600;
            }
        }
        .text_task {
            font-size: 0.75rem;
            color: black;
            line-height: 1.3;
            font-weight: 300;
            font-kerning: auto;
            ion-label{
                div{
                    white-space: pre-wrap;
                }
            }
        }
        .depend{
            width: calc(100% - 0.5rem);
            span{
                margin: 0;
            }
            .input-wrapper{
                border-bottom: 4px black dotted;
            }
        }
        .time{
            .label{
                display: contents;
                flex: none;
                margin-right: 0.7rem;
            }
            div[item-content]{
                margin-left: 0.7rem;
                font-weight: 400;
                .time24{
                    margin-left: 0.7rem;
                    color: #7e7d7d;
                }
            }
            .price_text{
                text-align: right;
                .purple{
                    margin-left: 0;
                }
            }
        }
    }
    .block_adress{
        background: #f2f2f2;
        padding: 1rem 0;
        .item{
            background: transparent;
        }
        .head{
            font-size: 0.9rem;
            ion-icon{
                padding-top: 0.05rem;
                margin-right: 0.5rem;
            }
        }
    }
    .decline{
        color: #757575;
        padding: 0.9rem 0;
        .item{
            background: transparent;
        }
        .head{
            font-size: 0.9rem;
        }
        background: #f8dbdb;
    }
    .text_task_head{
        margin-top: 2rem;
        font-weight: 600;
        font-size: 1rem;
    }
    .limitation {
        font-size: 0.9rem;
        font-family: 'Roboto';
        font-weight: 400;
        color: #363636; //letter-spacing: 0.15rem;
        font-kerning: auto;
        .purple{
            color: #756ba8;
            transition: color 1s, font-size 1s, font-weight 1s;
        }
        .item-inner {}
        b {
            font-family: 'Roboto';
            font-weight: bold;
        }
        img{
            height: 0.75rem;
            width: auto;
            display: inline-block;
        }
    }
    .otkaz{
        height: auto;
        .label{
            white-space: normal;
        }
    }
    .gray {
        color: #808080;
        transition: color 1s, font-size 1s, font-weight 1s;
    }
    .purchange{
        color: purple;
        font-size: 1rem;
        font-weight: 800;
    }
    .status_new{
        color: #737373;
    }
    .status_wait{
        color: #6e63a3;
    }
    .status_active{
        color: #5fb93f;
    }
    .status_aprove{
        color: #881ccc;
    }
    .status_denied{
        color: #ff0000;
    }
    .row4rem {
        height: 0.25rem;
        width: 100%;
    }
    .wrapper{
        max-height: 10rem;
        height: 10rem;
        padding-left: 0 !important;
        canvas{
            max-width: 100%;
            max-height: 10rem;
        }
    }
    .buttons{
        margin-top: 3rem;    
        .item{
            padding-left: 0 !important;
            .label{
                text-align: center;
            }
        }    
        .purple_button{
            $margin: 15.5%;
            height: 2rem;
            $width: 100% - $margin * 2;
            font-size: 1.05rem;
            margin: 0 $margin;
            width: $width;
            text-transform: none;
            ion-icon{
                font-size: 1rem;
            }
        }
        .height {
            margin-top: 0.8rem;
            border-top: 1px solid #c8c7cc;
            height: 2.375rem;
            .col {
                height: 100%;
                padding: 0;
            }
            button {
                font-size: 0.85rem;
                height: 100%;
                //padding-left: 0;
                .item-inner {
                    //height: 1.675rem;
                    margin-left: 0.5rem;
                    padding-right: 0rem !important;
                    margin-right: 0.5rem;
                }
                ion-img,
                img {
                    margin: 0;
                    margin-right: 0.375rem;
                    background: transparent;
                }
                ion-icon{
                    min-height: 0;
                    min-width: 0;
                    margin: 0;
                    font-size: 1rem;
                    top:0;
                    bottom: 0;
                    margin: auto;
                }
                .show_more {
                    
                }
                .proposition {
                }
            }
            .stoppadding .item-inner{
                margin-left: 0rem !important;
            }
        }
    }
    .buttons.middle{
        margin-top: 1.5rem;
        .purple_button{
            $margin: 13%;
            $width: 100% - $margin * 2;
            width: $width;
            margin-left: $margin;
        }
    }
    .buttonsup{
        margin-top: 1rem;
        margin-bottom: 0.4rem;
        text-align: center;
        line-height: 0;
        .purple_button{
            height: 1.9rem;
            margin: 0;
            width: 41%;
        }
        .purple_button:last-child{
            margin-left: 6%;
        }
        .gray_button{
            background: #b9b9b9;
        }
    }
    .buttonsup + .block{
        margin-top: 2.1rem;
    }
    .line-wrapper{
        margin-top: 0.55rem;
        margin-right: 8px;
        height: 0.15rem;
        background: #f2f2f2;
        .line{
            height: 0.15rem;
            background: #97afc9;
        } 
    }
    .item-md,
    .item-ios {
        padding-left: 0.45rem;
        ion-avatar imagebox div {
            height: 2.4rem;
            width: 2.4rem;
            border-radius: 50%;
        }
        ion-avatar[item-start] {
            height: 2.4rem;
            width: 2.4rem;
            margin: 0;
            imagebox div {
                height: 2.4rem;
                width: 2.4rem;
                border-radius: 50%;
            }
        }
    }
    ion-item {
        padding-left: 0px;
        font-size: 0.75rem;
    }
}
