<!--
  Generated template for the PopoverHelpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ion-title>Востановление пароля</ion-title>
</ion-header>


<ion-content padding>
  <div class="restore_pas">
    <ion-item>
      <ion-label>Код:</ion-label>
      <ion-input [(ngModel)]="item.code" type="text" placeholder="Проверочный код"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Пароль:</ion-label>
      <ion-input [(ngModel)]="item.passwod" type="passwod" placeholder="Новый пароль"></ion-input>
    </ion-item>
    <button ion-item text-center (tap)="restore()">Поменять</button>
  </div>
</ion-content>
