page-popover-help {
    font-family: 'Roboto', sans-serif;
    ion-header{
        height: 1.8rem;
    }
    ion-header + ion-content{
        margin-top: 1.8rem;
    }
    ion-content{
        padding: 0 !important;
        //padding-right: 0 !important;
        //padding-left: 0 !important;
        //padding-bottom: 0 !important;
    }
    .toolbar-title{
        font-size: 1.2rem;
        text-align: center;
    }
    .reg_help{
        .item:first-child{
            .label{
                text-align: center;
            }
        }
    }
    .executor_warning{
        .item{
            padding-left: 0.1rem;
        }
    }
    button, .item, item-md{
        padding: 0;
        font-size: 0.85rem;
        //min-height: 1rem;
        ion-icon[item-start]{
            font-size: 0.85rem;
            min-height: 0;
            margin: 0.2rem;
        }
        .item-inner{
            margin: 0.2rem 0 !important;
            border: 0px !important;
            //margin-bottom: 0.5rem !important;
            padding: 0 !important;
            .label{
                margin: 0;
                white-space: normal;
            }
        }
    }
    ion-item:not(:first-child){
        border-top: 0.55px solid #dbdbdf;
    }
    ion-item:first-child{
        .item-inner{
            margin-top: 0.4rem !important;
        }
    }
    .last{
        .item-inner{
            margin-bottom: 0.4rem !important;
        }
    }
    button{
        background: #f2f2f2 !important;
        border-top: 0.55px solid #dbdbdf !important;
        margin: 0;
        height: 1.5rem;
        .item-inner{
            border: 0 !important;
        }
    }
}
