/* Нафигации по app.scss
1)  Убирание стрелки в ios
2)  loading контроллер
3)
4) 
5)  Общие стили регистрации авторизации
6)  Стили по кнопке авторизация и регистрация(занесу потом под одно)
7)
8)  Стиль карточек с заданиями и карточек статистики
9)  закрашивания тулбара и header
10) Стиль отображения заявок
11)
12) 
13) Служебная часть для компонентов
14)
15) Стили сайд меню
16) Шрифты
*/

//константы
$NORMAL: 300;
$REGULAR: 400;
$MEDIUM: 500;
$PURPLE_MY1: #6237bc;
//Корректировка позиции бэкграунда
.card imagebox div{
    background-position: center;
}


//Магический афтер под шапкой
.header-md::after {
    height: 0 !important;
}
//---------------------------------
//--------------------------------- 1) Убирание стрелки в ios
.item[no-lines],
.item.item[no-lines] .item-inner {
    background-image: none;
}

.item-ios[detail-push] .item-inner,
button.item-ios:not([detail-none]) .item-inner,
a.item-ios:not([detail-none]) .item-inner {
    background-image: none;
}

//---------------------------------
//--------------------------------- 2 loading контроллер
@import "./styles_app/controlers.scss";
@import "./styles_app/myicons.scss";
//---------------------------------
//--------------------------------- 3) Частые объекты
@import "./styles_app/regularobjects.scss";
//---------------------------------
//--------------------------------- 4)

//---------------------------------
//--------------------------------- 5) Общие стили регистрации авторизации
@import "./styles_app/login_reg.scss";
//---------------------------------
//--------------------------------- 7)

//---------------------------------
//--------------------------------- 8) 

//---------------------------------
//--------------------------------- 9) закрашивания для my-tasks
ion-header{
    background: #f2f2f2;
}
.toolbar-background{
    background: #f2f2f2;
}
//---------------------------------
//--------------------------------- 10) Стиль отображения заявок
.task {
    margin-top: 0.45rem;
    border-radius: 5px;
    box-shadow: 0 0 10px #bbb;
    padding-left: 0;
    border-radius: 4px;
    
    .icon_status{
        position: relative;
        border: 1px solid #c8c7cc;
        
        img{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto!important;
            height: 0.5rem !important;
            width: auto!important;
        }
    }
    
    > .item-inner {
        padding-right: 0px !important;
    }
    > .item-ios,
    .item-md .item-button {
        padding-right: 0.05rem;
        margin-bottom: 0;
    }
    > .item-inner .input-wrapper .label {
        margin: 0;
    }
    .head {
        height: 0.9rem;
        min-height: 0.9rem;
        padding-left: 0.45rem;
        h2 {
            padding: 0;
            margin: 0;
            font-weight: bold;
            font-size: 0.5rem;
            line-height: 0.5rem;
        }
        .input-wrapper {
            align-items: flex-end;
        }
        .label-md,
        .label-ios {
            padding: 0;
            margin: 0;
        }
        .icon_more {
            height: 0.525rem;
        }
    }
    .sub_head {
        height: 0.6rem;
        min-height: 0.6rem;
        align-self: flex-end;
        padding-left: 0.45rem;
        font-size: 0.45rem;
        color: #808080;
        font-weight: 400;
        .input-wrapper {
            align-items: flex-end;
        }
        .label {
            padding: 0;
            margin: 0;
        }
    }
    .item_photo {
        padding-left: 0px;
        .item-inner {
            padding-right: 0;
        }
        .label {
            margin: 0;
        }
    }
    ion-thumbnail {
        position: relative;
        img {
            height: auto;
            width: auto;
        }
        .icon_status {
            position: absolute;
            top: 0.45rem;
            right: 0.45rem;
            height: 0.9rem;
            width: 0.9rem;
            border-radius: 50%;
            background: #ffffff;
            .check {
                width: 0.625rem;
                height: 0.5rem;
                margin-top: 0.2rem;
                margin-left: 0.1375rem;
            }
            .question {
                height: 0.8rem;
                margin-left: 0.25625rem;
                margin-top: 0.1rem;
            }
            .rejected {
                margin: 17%;
            }
            .waiting {
                margin: 17%;
            }
        }
    }
    .foot {
        height: 1.05rem;
        font-family: 'Roboto';
        font-size: 0.6rem;
        color: #363636;
        margin-top: 0.45rem;
        margin-bottom: 0.4rem;
        padding-left: 0.45rem;
        > .item-inner {
            margin-left: 0 !important;
        }
        .sn_icon {
            min-height: 1.05rem;
            height: 1.05rem;
            width: 1.05rem;
            font-size: 0;
            margin-bottom: 0;
            align-self: normal;
            margin-top: 0;
            min-width: 1rem;
            margin-right: 0.3rem;
        }
        .item[no-lines],
        .item.item[no-lines] .item-inner {
            margin-left: 0;
        }
        .item-md ion-icon[item-start] + .item-inner {
            margin-left: 0;
        }
        .my_badge {
            background: #9187c3;
            height: 1.05rem;
            width: 1.8rem;
            font-family: inherit;
            font-size: inherit;
            color: #ffffff;
            border-radius: 4px;
            text-anchor: middle;
            text-align: center;
        }
        ion-img {
            background: transparent;
        }
        .padding_div {
            margin-top: 10%
        }
    }
    .footenabled {
        button {
            font-family: 'Roboto';
            font-weight: bold;
            font-size: 0.5rem;
            color: #363636;
        }
    }
    .footdisabled {
        button {
            font-family: 'Roboto';
            font-weight: bold;
            font-size: 0.5rem;
            color: #808080;
        }
    }
}

//---------------------------------
//--------------------------------- 11)

//---------------------------------
//--------------------------------- 12) Пусто
//---------------------------------
//--------------------------------- 13) Служебная часть для скролл контента
@import "./styles_app/scroll_content.scss";
//--------------------------------- 14) Пусто
//---------------------------------
//--------------------------------- 15) Стили для sidemenu app/app.html
.sidemenu {
    font-family: sans-serif, 'Roboto';
    
    .scroll-content {
        background: #ffffff;
        padding: 0 !important;
    }
    .menu-inner {
        width: 84%;
        ion-toolbar {
            padding-left: 0.8rem;
            height: 9.2rem;


            .toolbar-background {
                background: #853EE6; //url("../assets/images/background.png") purple;
            }

            .picture-wrapper {
                padding: 0;
                background: transparent;
                height: 4.85rem;
                .item-inner {
                    align-items: flex-end;
                    .label {
                        margin: 0;
                    }
                }
                ion-avatar {
                    position: relative;
                    box-sizing: border-box;
                    height: 3.5rem;
                    width: 3.5rem;
                    padding: 0.225rem;
                    //border: 1px solid #fff;
                    border-radius: 100%;
                    margin-bottom: 0.25rem;
                    text-align: center;
                    .icon_wrapper{
                        z-index: 2;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        color: #A729EF;
                        background: #ffffff;
                        border-radius: 100%;
                        height: 1rem;
                        width: 1rem;
                        font-size: 0.5rem;
                        ion-icon{
                            margin-top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    > .image_wrapper{
                        height: 3.5rem;
                        width: 3.5rem;
                        background-size: 100% 100%;
                        border-radius: 100%;
                        position: absolute;
                        top:0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        z-index: 1;
                    }
                }
                .executor:after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 0px;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 100%;
                    background: white;
                    //background: url('../assets/icon/per_icon.svg') white;
                    background-size: 0.6rem auto;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                .customer:after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 0px;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 100%;
                    background: white;
                    background: url('../assets/icon/customer_icon.svg') white;
                    background-size: 1rem auto;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                .moderator:after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 0px;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 100%;
                    background: white;
                    background: url('../assets/icon/moderator_icon.svg') white;
                    background-size: 1rem auto;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
            .user-name {
                font-family: sans-serif, 'Roboto' !important;
                background: transparent;
                font-weight: 700;
                color: #ffffff;
                padding-left: 0;
                height: 1.35rem;
                margin-bottom: 0.8rem;
                font-size: 0.9rem;
                .item-inner {
                    align-items: flex-end;
                    .label {
                        margin: 0;
                    }
                }
            }
        }
        ion-list {
            background: #ffffff;
            padding-top: 1.2rem;
            button {
                padding: 0;
                height: 2.5rem;
                font-size: 0.9rem;
                font-weight: 500;
                color: #353535;
                .img-wrapper {
                    width: 2.6rem;
                    img {
                        max-height: 1rem;
                    }
                }
            }
            .set-page {
                font-size: 0.85rem;
                color: #684CB3;//#756ba8;
                //background: #f2f2f2;
            }
            ion-list-header {
                font-size: 1rem;
                height: 1.5rem;
                min-height: 1rem;
                margin-bottom: 0;
            }
        }
    }
}

//---------------------------------
//--------------------------------- 16) Шрифты
@import "./styles_app/font.scss";
//---------------------------------
//---------------------------------
//-------------
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.