page-lost-pas {
    font-family: 'Roboto', sans-serif;
    .purple_button{
        $margin:15%;
        margin-left:$margin;
        $width:100% - $margin * 2;
        width:$width;
        font-size:1rem;
    }
}
