<!--
  Generated template for the LostPasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <standart-navbar [type]="0" title="Востановление пароля"></standart-navbar>
</ion-header>


<ion-content>
  <ion-list *ngIf="subpage == 0" class="list_statuses" radio-group [(ngModel)]="role">
    <ion-item class="head_text">
      Выберите способ
    </ion-item>
    <ion-item class="label_inputs padding">
      <ion-icon item-start name="email_icon"></ion-icon>
      <ion-label>Email</ion-label>
      <ion-radio [value]="0" checked></ion-radio>
    </ion-item>
    <ion-item class="label_inputs padding">
      <ion-icon item-start name="login_icon"></ion-icon>
      <ion-label>Телефон</ion-label>
      <ion-radio [value]="1"></ion-radio>
    </ion-item>
    <button (tap)="restorenext()" text-center ion-item class="purple_button">
      Дальше
    </button>
</ion-list>
<ion-list *ngIf="subpage != 0" class="list_statuses">
    <ion-item class="head_text">
      Впишите 
      <span *ngIf="role == 0">email</span>
      <span *ngIf="role == 1">телефон</span>
    </ion-item>
    <ion-item class="text">
        <span *ngIf="role == 0">
          На указанный адрес будет отправлен код для сброса пароля
        </span>
        <span *ngIf="role == 1">
          На указанный телефон будет отправлена sms с кодом для сбпроса пароля
        </span>
      </ion-item>
      
   <form [formGroup]="control">
      <div *ngIf="role == 0">  
        <ion-item class="label_inputs text-input">
          <ion-input class="label_inputs" formControlName="email" [(ngModel)]="email" type="text" placeholder="Электронная почта"></ion-input>
          <ion-icon name="email_icon" item-end></ion-icon>
        </ion-item>
        <ion-item class="errorlabel">
          <span *ngIf="!control.controls.email.valid && !!control.controls.email.touched  && (!!control.controls.email.dirty)">
            Некорректный email
          </span>
        </ion-item>
      </div>
      <div *ngIf="role == 1">  
        <ion-item class="label_inputs text-input">
          <ion-input class="label_inputs" formControlName="phone" [(ngModel)]="phone" type="text" placeholder="Номер телефона"></ion-input>
        </ion-item>
        <ion-item class="errorlabel">
          <span *ngIf="!control.controls.phone.valid && !!control.controls.phone.touched  && (!!control.controls.phone.dirty)">
            Некорректный телефон
          </span>
        </ion-item>
      </div>
    </form>
    <button (tap)="restore_pas()" id="registr" text-center ion-item class="purple_button">
      Получить код
    </button>
</ion-list>
</ion-content>
