.header {
    font-family: 'Roboto', sans-serif;
    .standart_navbar{
        button[icon-only]{
            height: 100%;
            width: 2.4rem;
            ion-icon{
                font-size: 1.1rem;
            }
            margin-right: 0.61rem;
        }
        padding: 0;
        height: 2.775rem;
        border-bottom: 1px solid #c8c7cc;
        .toolbar-background{
            background: #ffffff;
        }
        ion-buttons[right]{
            ion-icon{
                font-size: 1.2rem;
            }
        }
        .toolbar-content{
            .title{
                .toolbar-title{
                    letter-spacing: -0.01rem;
                    font-size: 1.08rem;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    padding-left: 0; 
                }
                .balance{
                    margin-left: 8%;
                    font-size: 1.35rem;
                    .icon-money_head{
                        top:50%;
                        //transform: translateY(-50%); 
                        font-size: 0.8rem;
                    }
                }
            }
        }
        .icon_menu_navbar{
            height: auto;
            width: 1.125rem;
        }
        .bar-buttons-md[right]{
            margin-right: 4%;
            ion-icon{
                top: 50%;
                //transform: translateY(50%);
                //transform: translateY(31%);
            }
        }
    }
    .purple_navbar{
        .toolbar-background{
            background: #853ee6;
        }
        .toolbar-content{
            .title{
                .toolbar-title{
                    color: #fff;
                }
            }
        }
        ion-icon{
            color: #fff;
        }
    }
    ion-buttons{
        height: 100% !important;
        
        img{
            height: 50% !important;
        }
    }
}
.system{
    background:  #6237bc;
    height: 1rem;
}
