<!-- Generated template for the HeaderComponent component -->
<ion-item no-lines class="system"></ion-item>
<ion-navbar [ngClass]="{ 'standart_navbar':true, 'purple_navbar':type == enum.purple, 'black_navbar':type == enum.white }" hideBackButton danger>
  <ion-buttons left>
    <button *ngIf="!this.navctr.canGoBack()" ion-button icon-only menuToggle>
      <ion-icon class="icon_menu_navbar" name="menu_icon"></ion-icon>
    </button>
    <button  *ngIf="this.navctr.canGoBack()" ion-button icon-only (click)="back()">
      <ion-icon name="back_icon"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>{{title}}
  </ion-title>
  <ion-buttons *ngIf="flag" right>
    <button ion-button icon-only (click)="exit()">
      <ion-icon name="unsubscribe_icon"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>