//--------------------------------- стили для лоадконтроллера
.loading{
    font-size: 0.9rem;
    .loading-wrapper{
        background: #fff;
        border-radius: 1rem;
        max-width: 300px;
        .loading-content{
            padding-right: 1rem;   
        }
    }
}
//--------------------------------- стили для алеконтроллера
.action-sheet{
    .action-sheet-wrapper{
        min-width: 17rem;
        width: 15rem;
        
        .action-sheet-container{
            padding: 0;
            $radius: 0.6rem;
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
            .action-sheet-group{
    
    
                .action-sheet-title{
                    //height: 2rem;
                    font-size: 0.9rem;
                    font-weight: 600;
                    background: #f2f2f2;
                    border-bottom: 1px solid #c8c7cc;
                    padding: 0.62rem 0.5rem;
                    color: black;
                    text-align: center;
                    border-top-left-radius: $radius;
                    border-top-right-radius: $radius;
                }
                .action-sheet-button{   
                    padding-left: 0;
                    min-height: 4.1rem;
                    height: 4.1rem;
                    font-size: 1rem;
                    
                    .button-inner{
                        //position: relative;
                        //margin-left: 3rem;
                        //border-bottom: 1px solid #c8c7cc;
                    }
                    
                    .action-sheet-icon{
                        font-size: 1.75rem;
                        margin-right: 1.28rem;
                        margin-left: 1rem;
                        //width: 3rem;
                    }
                    ion-icon{
                        font-size: 1rem;
                    }
                    .ion-md-instagram_circle_icon{
                        color: #bd7fcc;
                    }
                    .ion-md-vkontakte_circle_icon{
                        color: #4d75a3;
                    }
                    .ion-md-facebook_circle_icon{
                        color: #405d9e;
                    }
                }
            }
            .action-sheet-group:last-child{
                .button-inner{
                    border-bottom: none;
                }
            }
        }
    }
    .action-sheet-title{
      text-align: center;
    }
    .alert-wrapper {
        min-width: 15rem !important;
        h2{
            text-align: center;
            font-size: 1rem;
        }
        .alert-radio-group{
            max-height: 20rem;
            height: auto;
            button{
                font-size: 0.75rem !important;
                height: 2rem;
                
                .button-inner{
                    height: 2.2rem;
                }
                
                .alert-radio-label{
                    padding: 0;
                    line-height: 2rem;
                    border-bottom: 1px solid #c8c7cc;
                }
                
                
                .alert-radio-icon{
                    position: relative;
                    left: 0 !important;
                    right: none !important;
                    width: 1.2rem;
                    height: 1.2rem;
                    margin: 0 0.75rem;
                    
                    .alert-radio-inner{
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        height: 80%;
                        width: 80%;
                    }
                }
            }
            button:last-child .alert-radio-label{
                border-bottom: none;
            }
        }
        .alert-button-group{
            height: 2.5rem;
            padding: 0.25rem 0;
            
            .alert-button{
                color: white;
                background: #7e98f2;
              font-size: 0.7rem !important;
                padding: 0.25rem 1rem;
            }
        }   
    }
}
.select-photo{
    
}
.alert4{
    .alert-wrapper{
        max-width: 70%;
        border-radius: 0.6rem;
    }
    .alert-head{
        background: #fff;
    }
    .alert-message{
        font-size: 0.8rem;
        max-height: 40%;
        background: #fff;
        padding: 1.4rem 10%;
    }
    .alert-button-group{
        .alert-button{
            text-transform: uppercase;
            height: 2.2rem;
            font-size: 0.9rem;
            color:#6237bc;   
            background: #f2f2f2;
        }
    }
}
.alert4_head{
    .alert-head{
        background: #f2f2f2;
        .alert-title{
            font-size: 1rem;
            font-weight: 400;
        }
    }   
}
.sandbox{
    .alert-head{
        padding: 15px 24px 20px;
    }
    .alert-message{
        height: 9rem;
    }
    .alert-input-group{
        padding-bottom: 0px;
    }
    button{
        font-size: 0.6rem;
    }
    .next{
        width: 5.5rem;
    }
}
.select{
    font-size: 0.8rem;
    .alert-wrapper{
        max-width: 70%;
        min-width: 60%;
        .alert-head{
            background: #f2f2f2;
            color: #000000;
            .alert-title{
                font-size: 1rem;
            }
        }
        .alert-message{
            background: #f2f2f2;
        }
        .alert-radio-group{
            button{
                //height: 1rem;
                //color: #6237bc;
                .alert-radio-icon{
                    
                }
            }
            button[aria-checked="true"]{
                .alert-radio-label{
                    color: #6237bc;
                }
                .alert-radio-icon{
                    width: 1.5rem;
                    .alert-radio-inner{
                        width: 0.4rem;
                        height: 0.8rem;
                        left: 0.6rem;
                        top: -0.4rem;
                        border-color: #6237bc;
                        border-width: 0.08rem;
                        //border-width: 2px;
                        border-top-width: 0;
                        border-left-width: 0;
                    }
                }
            }
        }
        .alert-button-group{
            background: #f2f2f2;
            .alert-button{
                color:#6237bc;
                font-size: 1rem;
                height: auto;
                padding: 0.4rem 0;
                span{
                    line-height: 1;
                }
            }
        }
    }
}
//--------------------------------- Уменьшение минимальных размеров и увеличение максимальных размеров
//Тут блин написано что за пункт не пихай другие вещи! 
//я теперь даже не знаю что нужно для адекватных размеров
//а что еще не пойми какая дичь
.alert-md, .alert-ios {
  .alert-tappable {
    min-height: 2.2rem;
  }
}

//--------------------------------- стили для toast сообщений (вспылвающие, исчезающие со временим сообщения)
.messageclass{
  .toast-wrapper.toast-top{
    background: #ffffff;
  }
  .toast-container{
    background: #ffffff;
  }
  .toast-message{
    font-size: 0.9rem;
    color: #363636;
    text-shadow: 0 0 0.6rem rgba(54,54,54,.5);
    font: 'Roboto' 'Regular';
  }
}
//------------------------------------- popovers
.help_popover{
    .popover-content{
        border-radius: 5%;
        max-width: 80%;
        width: auto;
        left: 0 !important;
        right: 0 !important;
        margin: auto;
    }
}
.selector-popover{
    .popover-content{
        max-width: 90%;
        min-width: 90%;
        width: auto;
        border-radius: 0.6rem;
    }
}