.list_statuses{
    margin: 0;
    .item{
        .item-inner{
            border: none;
        }
    }
    .head_text{
        margin-top: 2.3rem;
        margin-left: 1.4rem;
        //width: calc( 100% - 2.3rem );
        padding: 0;
        background: transparent;
        color: #6237bc;
        font-size: 1.12rem;
        font-weight: 600;
        letter-spacing: -0.014rem;
    }
    ::-webkit-input-placeholder {
        opacity: 1 !important;
    }
    //$otstup: 4.5%;
    //$withblock: 100% - $otstup * 2;
    .label_inputs{
        //margin-top: 1.11rem;
        margin-left: 1.4rem;
        width: calc( 100% - 2.3rem );
        font-size: 0.9rem;
        font-weight: 600;
        padding: 0;
        height: 1.7rem;
        border-bottom: #c9c9c9 2px solid;
        .item-inner{
            margin-left: 4%;
            padding: 0;
            .input-wrapper{
                //margin-top: 0.15rem;
                .label{
                    color: #282828 !important;
                }
            }
        }
        .input-wrapper{
            margin: 0;
            padding: 0;
        }
        ion-icon{
            margin-right: 0;
            min-height: 0;
            font-size: 0.95rem;
            padding-right: 0rem;
            padding-left: 0rem;
            color: #aa29e6;
        }
        ion-radio{
            margin: auto;
            margin-right: 1.1%;
            .radio-checked{
                border-color: #aa29e6;   
                .radio-inner{
                    background: #aa29e6;
                }
            }
            .radio-icon{
                height: 1.05rem;
                width: 1.05rem;
                margin-top: 0.1rem;
                .radio-inner{
                    margin: auto;
                    top:0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    $radius: 56%;
                    width: $radius;
                    height: $radius;
                    
                }
            }
        }
        
    }
    .text-input{
        margin-left: 1.4rem;
        width: calc( 100% - 2.3rem );
        border: 0px;
        .item-inner{
            margin-left: 0;
            border-bottom: 2px solid;
            border-bottom-color: #c5c5c5;
            ion-input{
                margin: 0;
                border: 0px;
                input{
                    margin-left: 0;
                    width: calc( 100% - 8px );
                }
            }
        }
        ion-icon{
            font-size: 1rem;
            margin-bottom: 0.9rem;
            color: #665490;
        }
    }
    .errorlabel{
        min-height: 1.95rem;
        font-size: 0.7rem;
        margin-left: 1.4rem;
        width: calc( 100% - 2.3rem );
        padding: 0;
        color: red;
        //margin-bottom: 0.95rem;
        .input-wrapper{
            margin-top: 0.2rem;
            align-items: baseline;
        }
    }
    .head_text + .label_inputs, .head_text + form{
        margin-top: 1.81rem;
    }
    .text{
        margin-left: 1.4rem;
        width: calc( 100% - 2.3rem );
        font-size: 0.7rem;
        padding: 0;
        margin-top: 0.53rem;
        //padding-right: 13%;
        color: #636262;
        font-weight: 500;
        margin-bottom: 1.4rem;
        .label{
            white-space: normal;
        }
    }
}