@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?24pw0x');
  src:  url('../assets/fonts/icomoon.eot?24pw0x#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?24pw0x') format('truetype'),
    url('../assets/fonts/icomoon.woff?24pw0x') format('woff'),
    url('../assets/fonts/icomoon.svg?24pw0x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
[class^="ion-ios-icon"],
[class*="ion-ios-icon"],
[class^="ion-md-icon"],
[class*="ion-md-icon"]{
  @extend .ion;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
@mixin makeIcon($arg, $val) {
  .ion-ios-#{$arg}:before ,
  .ion-ios-#{$arg}-circle:before ,
  .ion-ios-#{$arg}-circle-outline:before ,
  .ion-ios-#{$arg}-outline:before ,
  .ion-md-#{$arg}:before ,
  .ion-md-#{$arg}-circle:before ,
  .ion-md-#{$arg}-circle-outline:before ,
  .ion-md-#{$arg}-outline:before  {
    content: $val;
    //font-size: 26px;
  }
}
@include makeIcon(icon-rub_icon_purple, '\e901');
@include makeIcon(icon-about_app_icon, '\e902');
@include makeIcon(icon-add_account_icon, '\e903');
@include makeIcon(icon-age_icon, '\e904');
@include makeIcon(icon-application_for_verification_icon_active, '\e905');
@include makeIcon(icon-application_for_verification_icon_unactive, '\e906');
@include makeIcon(icon-approved_icon, '\e907');
@include makeIcon(arrow_icon, '\e984');
@include makeIcon(icon-arrow_two_icon, '\e909');

@include makeIcon(icon-vk_icon, '\e969');
@include makeIcon(icon-insta_icon, '\e92e');

@include makeIcon(icon-bonus_app, '\e975');
@include makeIcon(menu_btn_black, '\e933');
@include makeIcon(icon-search_icon, '\e951' );
@include makeIcon(icon-filter_icon, '\e976' );
@include makeIcon(customer_icon_login, '\e914' );
@include makeIcon(per_icon, '\e93f' );
@include makeIcon(icon-moderator_icon, '\e935' );
@include makeIcon(icon-performer_icon_login, '\e940' );
@include makeIcon(proposition_icon, '\e947' );
@include makeIcon(show_more_icon, '\e956' );
@include makeIcon(icon-moderator_icon_not_fill, '\e908' );
@include makeIcon(see_all_publications, '\e953' );
@include makeIcon(check_the_application, '\e910' );

@include makeIcon(go_gray_bottom_bar, '\e926' );
@include makeIcon(photo_gray_bottom_bar, '\e941' );
@include makeIcon(search_gray_bottom_bar, '\e94e' );
@include makeIcon(home_gray_bottom_bar, '\e927' );
@include makeIcon(accept_icon, '\e909' );
@include makeIcon(reject_icon, '\e925' );
@include makeIcon(subscribe_icon, '\e929' );
@include makeIcon(unsubscribe_icon, '\e92a' );
@include makeIcon(mydownload, '\e934' );
@include makeIcon(collect_likes, '\e938' );
@include makeIcon(delete_statement, '\e93a' );
@include makeIcon(upload_photo, '\e94d' );
@include makeIcon(facebook_icon, '\e91e' );
@include makeIcon(ispolnitel_present, '\e950' );
@include makeIcon(zakazchik_present, '\e952' );
@include makeIcon(fb_present, '\e955' );
@include makeIcon(instagram_present, '\e958' );
@include makeIcon(vk_present, '\e964' );
@include makeIcon(icon-invite, '\e966' );
@include makeIcon(icon-bonus, '\e968' );

@include makeIcon(change-profile, '\e977' );
@include makeIcon(compains_icon, '\e978' );
@include makeIcon(editing_profile, '\e919' );
@include makeIcon(change_password, '\e90f' );
@include makeIcon(payment_settins, '\e93e' );
@include makeIcon(notifications-icon, '\e93b' );
@include makeIcon(log_out, '\e931' );
@include makeIcon(likeyou-logo, '\e96a' );
@include makeIcon(icon-customer, '\e915' );
@include makeIcon(executor_fill, '\e921' );
@include makeIcon(moderator_icon, '\e935' );
@include makeIcon(password_icon, '\e93d' );
@include makeIcon(email_icon, '\e91a' );
@include makeIcon(login_icon, '\e932' );
@include makeIcon(menu_icon, '\e933' );
@include makeIcon(back_icon, '\e90c' );
@include makeIcon(task-icon, '\e981' );
@include makeIcon(prise_like_icon, '\e97f' );
@include makeIcon(instagram_circle_icon, '\e92f' );
@include makeIcon(vkontakte_circle_icon, '\e96b' );
@include makeIcon(facebook_circle_icon, '\e91d' );
@include makeIcon(trash_icon, '\e95f' );
@include makeIcon(adress-icon, '\e986' );
@include makeIcon(clock_icon, '\e987' );
@include makeIcon(empty_pict_icon, '\e98a' );
@include makeIcon(gallery_icon, '\e98b' );
@include makeIcon(delete_icon, '\e989' );
@include makeIcon(camera_icon, '\e988' );
@include makeIcon(status_icon, '\e980' );
@include makeIcon(vk_card_icon, '\e969' );
@include makeIcon(insta_card_icon, '\e92d' );
@include makeIcon(facebook_card_icon, '\e91c' );
@include makeIcon(number_of_subscribers_icon, '\e93c' );
@include makeIcon(city_icon, '\e912' );
@include makeIcon(gender_icon, '\e924' );
@include makeIcon(date_of_birth_icon, '\e916' );
@include makeIcon(regulations_icon, '\e949' );
@include makeIcon(info_icon, '\e92c' );
@include makeIcon(report_a_problem_icon, '\e94b' );
@include makeIcon(about_app_icon, '\e902' );
@include makeIcon(terms_of_use_icon, '\e959' );
@include makeIcon(amount_likes, '\e983' );
@include makeIcon(ostavshiysya_biudget, '\e91e' );
@include makeIcon(statistics_icon, '\e957' );
@include makeIcon(promocode_icon, '\e92e' );
@include makeIcon(add_task, '\e965' );
@include makeIcon(my_tasks_icon, '\e939' );
@include makeIcon(search_icon, '\e94f' );
@include makeIcon(profile_icon, '\e945' );
@include makeIcon(my_networks_icon, '\e937' );
@include makeIcon(home_icon, '\e928' );
@include makeIcon(verification_tasks_icon, '\e963' );
@include makeIcon(verified_applications_icon, '\e965' );
@include makeIcon(verified_tasks_icon, '\e967' );
@include makeIcon(likes_icon, '\e990' );
@include makeIcon(referal_icon, '\e991' );
@include makeIcon(barcode_icon, '\e992' );
@include makeIcon(logo_scan_icon, '\e946' );
//@include makeIcon(, '\e9' );
//@include makeIcon(, '\e9' );
//@include makeIcon(, '\e9' );
//@include makeIcon(, '\e9' );
//@include makeIcon(, '\e9' );
//@include makeIcon(, '\e9' );

.logo_scan_icon:before {
  content: "\e946";
  color: #fff;
}

.barcode_icon:before {
  content: "\e992";
  color: #747474;
}

.referal_icon:before {
  content: "\e991";
  color: #756ba8;
}

.likes_icon:before {
  content: "\e990";
  color: #756ba8;
}

.verified_tasks_icon:before {
  content: "\e967";
  color: #756ba8;
}

.verified_applications_icon:before {
  content: "\e965";
  color: #756ba8;
}

.verification_tasks_icon:before {
  content: "\e963";
  color: #756ba8;
}

.home_icon:before {
  content: "\e928";
  color: #756ba8;
}

.my_networks_icon:before {
  content: "\e937";
  color: #756ba8;
}

.search_icon:before {
  content: "\e94f";
  color: #756ba8;
}

.profile_icon:before {
  content: "\e945";
  color: #756ba8;
}

.my_tasks_icon:before {
  content: "\e939";
  color: #756ba8;
}
//--- Gold
.icon-company_icon .path1:before {
  content: "\e98c";
  color: #f7f7f7;
}
.icon-company_icon .path2:before {
  content: "\e98d";
  color: #c1c1c9;
  margin-left: -1em;
}
.icon-company_icon .path3:before {
  content: "\e98e";
  color: #c1c1c9;
  margin-left: -1em;
}
.icon-company_icon .path4:before {
  content: "\e98f";
  color: #c1c1c9;
  margin-left: -1em;
}
//---- gold end

.add_task:before {
  content: "\e965";
  color: #fff;
}


.promocode_icon:before {
  content: "\e92e";
  color: #747474;
}

.statistics_icon:before {
  content: "\e957";
  color: #756ba8;
}

.ostavshiysya_biudget:before {
  content: "\e91e";
}

.amount_likes:before {
  content: "\e983";
}

.terms_of_use_icon:before {
  content: "\e959";
  color: #756ba8;
}

.about_app_icon:before {
  content: "\e902";
  color: #756ba8;
}

.report_a_problem_icon:before {
  content: "\e94b";
  color: #756ba8;
}

.info_icon:before {
  content: "\e92c";
  color: #756ba8;
}

.regulations_icon:before {
  content: "\e949";
  color: #756ba8;
}

.date_of_birth_icon:before {
  content: "\e916";
  color: #756ba8;
}

.gender_icon:before {
  content: "\e924";
  color: #756ba8;
}

.city_icon:before {
  content: "\e912";
  color: #756ba8;
}

.number_of_subscribers_icon:before {
  content: "\e93c";
  color: #756ba8;
}

.insta_card_icon:before {
  content: "\e92d";
  color: #d2529a;
}

.facebook_card_icon:before {
  content: "\e91c";
  color: #405d9e;
}

.vk_card_icon:before {
  content: "\e969";
  color: #4d75a3;
}

.status_icon:before {
  content: "\e980";
}

.empty_pict_icon:before {
  content: "\e98a";
  color: #dbd9d9;
}
.gallery_icon:before {
  content: "\e98b";
}
.delete_icon:before {
  content: "\e989";
}
.camera_icon:before {
  content: "\e988";
}

.clock_icon:before {
  content: "\e987";
}

.adress_icon:before {
  content: "\e986";
}

.arrow_icon:before {
  content: "\e984";
  color: #919191;
}

.trash_icon:before {
  content: "\e95f";
  color: #919191;
}

.facebook_circle_icon:before {
  content: "\e91d";
  color: #405d9e;
}

.vkontakte_circle_icon:before {
  content: "\e96b";
  color: #4d75a3;
}

.instagram_circle_icon:before {
  content: "\e92f";
  color: #bd7fcc;
}

.prise_like_icon:before {
  content: "\e97f";
}

//Голда
//-------
.icon-money_head .path1:before {
  content: "\e974";
  color: #c99b36;
}
.icon-money_head .path2:before {
  content: "\e97a";
  color: #fcce59;
  margin-left: -1.001328125em;
}
.icon-money_head .path3:before {
  content: "\e97b";
  color: #c99b36;
  margin-left: -1.041328125em;
}
.icon-money_head .path4:before {
  content: "\e97c";
  color: #fcce59;
  margin-left: -1.0061328125em;
}
.icon-money_head .path5:before {
  content: "\e97d";
  color: #c99b36;
  margin-left: -1.0361328125em;
}
.icon-money_head .path6:before {
  content: "\e97e";
  color: #fcce59;
  margin-left: -1.0361328125em;
}
//-------

.task-icon:before {
  content: "\e981";
}

.back_icon:before {
  content: "\e90c";
  color: #676868;
}

.menu_icon:before {
  content: "\e933";
}

.login_icon:before {
  content: "\e932";
}

.email_icon:before {
  content: "\e91a";
}

.password_icon:before {
  content: "\e93d";
  color: #fff;
}

.icon-customer:before {
  content: "\e915";
  color: #a43b85;
}

.likeyou-logo:before {
  content: "\e96a";
  color: #fff;
}

.icon-invite:before {
  content: "\e966";
  color: #fff;
}
.icon-bonus:before {
  content: "\e968";
  color: #686868;
}

.fb_present:before {
  content: "\e955";
  color: #d5c2e2;
}
.instagram_present:before {
  content: "\e958";
  color: #d5c2e2;
}
.vk_present:before {
  content: "\e964";
  color: #d5c2e2;
}
.ispolnitel_present:before{
  content: "\e950";
  color: #ffffff;
}
.zakazchik_present::before{
  content: "\e952";
  color: #fff;
}
.collect_likes:before {
  content: "\e938";
  color: #808080;
}
.delete_statement:before {
  content: "\e93a";
  color: #808080;
}
.upload_photo:before {
  content: "\e94d";
  color: #808080;
}
.mydownload::before {
  content: "\e934";
  color: #fff;
}
.accept_icon::before{
  content: '\e909';
  color: gray;
}
.reject_icon::before{
  content: '\e925';
  color: gray;
}
.subscribe_icon::before{
  content: '\e929';
  color: gray;
}
.unsubscribe_icon::before{
  content: '\e92a';
  color: gray;
}
.icon-moderator_icon_not_fill:before {
  content: "\e908";
  color: #ffffff;
}
.icon-bonus_app:before {
  content: "\e975";
  color: #fff;
}
.icon-filter_icon:before {
  content: "\e976";
  color: #808080;
}
.change-profile:before {
  content: "\e977";
  color: #756ba8;
}
.compains_icon:before {
  content: "\e978";
  color: #756ba8;
}
.icon-more_icon_22:before {
  content: "\e979";
  color: #959595;
}
.icon-rub_icon_purple:before {
  content: "\e901";
  color: #756ba8;
}

.icon-add_account_icon:before {
  content: "\e903";
  color: #756ba8;
}
.icon-age_icon:before {
  content: "\e904";
  color: #9b99c9;
}
.icon-application_for_verification_icon_active:before {
  content: "\e905";
  color: #756ba8;
}
.icon-application_for_verification_icon_unactive:before {
  content: "\e906";
  color: #747474;
}
.icon-approved_icon:before {
  content: "\e907";
  color: #fff;
}
.icon-arrow_two_icon:before {
  content: "\e909";
  color: #c7c7cc;
}
.icon-awaiting_approval_icon:before {
  content: "\e90a";
  color: #828386;
}
.icon-back_icon_registration:before {
  content: "\e90b";
  color: #fff;
}
.icon-back_icon:before {
  content: "\e90c";
  color: #676868;
}
.icon-Big_jackpot_active_icon:before {
  content: "\e90d";
  color: #756ba8;
}
.icon-Big_jackpot_unactive_icon:before {
  content: "\e90e";
  color: #756ba8;
}
.icon-change_password:before {
  content: "\e90f";
  color: #756ba8;
}
.check_the_application:before {
  content: "\e910";
  color: #808080;
}
.icon-check:before {
  content: "\e900";
  color: #1fb242;
}
.icon-City_icon_statistic:before {
  content: "\e911";
  color: #9b99c9;
}
.icon-country_icon:before {
  content: "\e913";
  color: #9b99c9;
}
.icon-customer_icon_login:before {
  content: "\e914";
  color: #fff;
}
.icon-description_icon:before {
  content: "\e917";
  color: #756ba8;
}
.icon-edit_image_icon:before {
  content: "\e918";
  color: #757575;
}
.editing_profile:before {
  content: "\e919";
  color: #756ba8;
}
.icon-empty_image_icon:before {
  content: "\e91b";
  color: #808080;
}
.icon-facebook_card_icon:before {
  content: "\e91c";
  color: #405d9e;
}
.icon-facebook_icon:before {
  content: "\e91e";
  color: #405d9e;
}
.icon-filter_icon_active:before {
  content: "\e91f";
  color: #756ca8;
}
.icon-filter_more_icon:before {
  content: "\e920";
  color: #919191;
}
.executor_fill:before {
  content: "\e921";
  color: #756ba8;
}
.icon-For_me_icon_unactive_icon:before {
  content: "\e922";
  color: #756ba8;
}
.icon-gender_icon_statistic:before {
  content: "\e923";
  color: #9b99c9;
}
.go_gray_bottom_bar:before {
  content: "\e926";
  color: #d642ac;
}
.icon-home_gray_bottom_bar:before {
  content: "\e927";
  color: #8f8f8f;
}
.icon-home_purple_bottom_bar:before {
  content: "\e92a";
  color: #d642ac;
}
.icon-icon_filter:before {
  content: "\e92b";
  color: #686868;
}

.icon-language_icon:before {
  content: "\e930";
  color: #756ba8;
}
.log_out:before {
  content: "\e931";
  color: #756ba8;
}
.icon-menu_btn:before {
  content: "\e934";
  color: #fff;
}
.moderator_icon:before {
  content: "\e935";
  color: #a43b85;
}
.icon-more_icon:before {
  content: "\e936";
  color: #999;
}
.notifications-icon:before {
  content: "\e93b";
  color: #756ba8;
}
.payment_settins:before {
  content: "\e93e";
  color: #756ba8;
}
.icon-per_icon:before {
  content: "\e93f";
  color: #a43b85;
}
.icon-performer_icon_login:before {
  content: "\e940";
  color: #fff;
}
.icon-photo_gray_bottom_bar:before {
  content: "\e941";
  color: #8f8f8f;
}
.icon-photo_icon:before {
  content: "\e942";
  color: #9b99c9;
}
.icon-photo_purple_bottom_bar:before {
  content: "\e943";
  color: #d642ac;
}
.icon-photobox_icon:before {
  content: "\e944";
  color: #808080;
}
.icon-proposition_icon:before {
  content: "\e947";
  color: #808080;
}
.icon-region_icon:before {
  content: "\e948";
  color: #9b99c9;
}
.icon-rejected_icon:before {
  content: "\e94a";
  color: #ff3131;
}
.icon-rub_icon_black:before {
  content: "\e94c";
}
.icon-rub_icon:before {
  content: "\e94d";
  color: #fff;
}
.icon-search_gray_bottom_bar:before {
  content: "\e94e";
  color: #8f8f8f;
}

.icon-search_icon:before {
  content: "\e951";
  color: #fff;
}
.icon-search_purple_bottom_bar:before {
  content: "\e952";
  color: #d642ac;
}
.see_all_publications_icon:before {
  content: "\e953";
  color: #808080;
}
.icon-settings_icon_active:before {
  content: "\e954";
  color: #756ba8;
}
.icon-settings_icon_unactive:before {
  content: "\e955";
  color: #747474;
}
.icon-show_more_icon:before {
  content: "\e956";
  color: #808080;
}
.icon-Top_icon_active_icon .path1:before {
  content: "\e95a";
  color: rgb(117, 107, 168);
}
.icon-Top_icon_active_icon .path2:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(117, 107, 168);
}
.icon-Top_icon_active_icon .path3:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Top_icon_active_icon .path4:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Top_icon_unactive_icon:before {
  content: "\e95e";
  color: #756ba8;
}
.icon-up_icon:before {
  content: "\e960";
  color: #fff;
}
.icon-upload_image_icon:before {
  content: "\e961";
  color: #757575;
}
.icon-users_icon:before {
  content: "\e962";
  color: #756ba8;
}
.icon-vkontakte_circle_icon:before {
  content: "\e96b";
  color: #4d75a3;
}
.icon-waiting_for_download_icon .path1:before {
  content: "\e96c";
  color: rgb(34, 31, 31);
}
.icon-waiting_for_download_icon .path2:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(214, 214, 214);
}
.icon-waiting_for_download_icon .path3:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(182, 182, 183);
}
.icon-waiting_for_download_icon .path4:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(152, 153, 155);
}
.icon-waiting_for_download_icon .path5:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(128, 130, 131);
}
.icon-waiting_for_download_icon .path6:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(110, 111, 113);
}
.icon-waiting_for_download_icon .path7:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(89, 89, 92);
}
.icon-waiting_for_download_icon .path8:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(65, 65, 65);
}
