.purple_button{
    padding: 0;
    margin-left: 26.5%;
    margin-top: 2.75rem;
    width: 47%;
    height: 2.4rem;
    background: -webkit-gradient(linear, left top, left bottom, from(#ba34ff), to(#7927fd));
    background: linear-gradient(#ba34ff, #7927fd);
    border-radius: 1.3rem;
    font-size: 1.25rem;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    .item-inner{
        border: none !important;
    }
}