ion-app.md [padding] .scroll-content{
  padding:  0;
}
.scroll-content{
    border-top: none !important;
    background: #ffffff;
}
.moderator{
  .scroll-content{
    padding-bottom: 0;
  }
}
/*ion-app.md [padding] .scroll-content{
  padding-bottom: 2.4rem;
}
ion-app.md[padding] {
  .scroll-content{
    padding-bottom: 0rem;
  }
}*/
body, html{    
  font-family: 'Roboto', sans-serif;
  -webkit-text-size-adjust: none !important;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
.item-block{
  min-height: 0;
}
.toolbar-md, .toolbar-ios{
  min-height: 10px;
}
.content{
  background: #f2f2f2;
}
