<ion-header>
    <standart-navbar title="Добавить компанию"></standart-navbar>
</ion-header>



<ion-content>
  <ion-list class="list_statuses">
    <ion-item class="head_text">
      Впишите данные
    </ion-item>
      <ion-item class="dopotstup label_inputs text-input">
        <ion-input class="label_inputs input" [(ngModel)]="companyKey" type="text" placeholder="Код компании"></ion-input>
      </ion-item>
      <button (tap)="addCompany()" id="login" text-center ion-item class="purple_button">
        <ion-icon name="add_task"></ion-icon>
        Добавить компанию
      </button>
  </ion-list>
  <!--<ion-item>
    <ion-input type="text" [(ngModel)]="companyKey" placeholder="Введите код компании" ></ion-input>
  </ion-item>
  <ion-item>
    <button ion-button small class="purple_button" (tap)="addCompany()">Добавить компанию</button>
  </ion-item>-->
</ion-content>
