page-add-company {
    font-family: 'Roboto', sans-serif;
    .purple_button{
        $margin:8%;
        margin-left:$margin;
        $width:100% - $margin * 2;
        width:$width;
        font-size: 1rem;
    }
    .block{
        .item{
            padding-left: 0.5rem;
            .item-inner{
                padding-left: 0.5rem;
            }
        }
        background: #ffffff;
        padding-top: 1.5rem;
        .header{
            background: transparent;
            padding-bottom: 1.7rem;
            .item-inner{
                border-bottom: 0px;
                .label{
                    margin: 0;
                    //margin: auto;
                    //margin-bottom: 0.7rem;
                    font-weight: $MEDIUM;
                    font-size: 0.875rem;
                    color: #853ee6;
                }
            }
        }
        .input-with-head{
            padding-left: 0.5rem;
            border-bottom: 1px solid #c8c7cc;
            //height: 3.75rem;
            .item-inner{
                border-bottom: none;
                //border-bottom-color: #c8c7cc !important;
                //border-bottom: 0 !important;
                //box-shadow: inset 0 0 0 0 #c8c7cc !important;
                ion-label{
                    font-weight: 500;
                    font-size: 0.7rem;
                    color: #8b8b8b;
                }
                ion-input{
                    margin-top: 0.02rem;
                    //position: relative;
                    input{
                        //position: absolute;
                        margin: 0;
                        top: 0;
                        height: auto;
                        font-size: 0.9rem;
                        font-weight: 400;
                        color: #000000;
                    }
                    input::-webkit-input-placeholder{
                        color:  #979797;
                    }
                }
                ion-datetime{
                    padding-top: 0.6rem;
                    font-size: 0.9rem;
                }
                button{
                    color: #8b8b8b;
                    font-size: 0.3rem;
                    margin: auto;
                    margin-bottom: 0.4rem;
                }
            }
        }
        .one_line_input{
            font-size: 0.85rem !important;
            padding-top: 1rem;
            padding-bottom: 1.15rem;
            border-top: 1px solid #c8c7cc !important;
            border-bottom: 1px solid #c8c7cc !important;
            .item-inner{
                padding-left: 0.5rem;
                border-bottom-color: transparent !important; 
                -webkit-box-shadow: inset 0 0 0 0 transparent !important;
                box-shadow: inset 0 0 0 0 transparent !important; 
                .text-input{
                    margin-left: 0;
                }
            }
            .label{
                width: 9rem !important;
                min-width: 9rem;
                font-size: 0.8rem !important;
                margin-left: 0.5rem;
            }
        }
        .one_line_input + .one_line_input{
            border-top: none !important;
        }
        .help{
            font-size: 0.6rem;
            color: #8b8b8b;
            .item-inner{
                border: 0px !important;
            }
            .label{
                white-space: normal;
            }
        }
        .help + .one_line_input{
            border-top: none !important;
        }
        .price{
            border-bottom: 1px solid #c8c7cc !important;
            box-shadow: none !important;
            .item-inner{
                border-bottom: 0 !important;
                box-shadow: none !important;
                ion-icon[item-end]{
                    font-size: 0.38em;
                    min-height: 0.5rem;
                    font-weight: 400;
                    margin: auto;
                    margin-bottom: 0.3rem;
                    margin-right: 0.71rem;
                    color: #8b8b8b;
                }
                .input-wrapper{
                    margin-right: 0.5rem;
                    .label{
                        text-transform: uppercase;
                        font-size: 0.56rem;
                    }
                }
            }
        }
        .image-head{
            padding-bottom: 1rem;
        }
        .image-wrapper{
            margin: 0;
            //margin-left: 4%;
            margin-left: 50%;
            transform: translateX(-50%);
            height: 11rem;
            max-height: 15rem;
            width: 92%;
            max-width: 92%;
            border-radius: 0.6rem;
            //border: 1px solid #f2f2f2;
            border-radius: 0.6rem;
            box-shadow: 0 0 20px rgba(0,0,0,0.5);
            padding: 0;
            ion-icon{
                color: #dbd9d9;
                font-size: 3.9rem;
            }
            .line-wrapper{
                z-index: 2;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 0.15rem;
                margin: auto;
                background: #f2f2f2;
                .line{
                    height: 0.15rem;
                    background: #97afc9;
                } 
            }
            .image-upload{
                position: relative;
            }
            img{
                z-index: 1;
                position: relative;
                height: auto;
                widows: auto;
                max-height: 15rem;
            }
        }
        .have_image{
            height: auto;
            width: auto;
        }
        .purple_button{
            $margin: 16%;
            $width: 100% - $margin * 2;
            margin-left: $margin;
            width: $width;
            margin-top: 3.6rem;
            margin-bottom: 1.5rem;
            text-transform: none;
            height: 2rem;
            .item-inner{
                border: none;
                .label{
                    margin: 0;
                    ion-icon{
                        font-size: 0.9rem;
                        margin-right: 0.2rem;
                    }
                }
            }
        }
        .area{
            height: 4.7rem;
            .item-inner{
                box-shadow: none !important;
            }
            ion-textarea{
                margin-top: 0.55rem;
                height: 2.80rem;
                padding-bottom: 0.75rem;
                textarea{
                    margin: 0 !important;
                    height: 2.05rem;
                    font-size: 0.7rem;
                    font-weight: 400;
                    color: #000000;
                }
            }
        }
        >ion-list{
            .item{
                height: auto;
                ion-avatar{
                    $diametr:2.4rem;
                    height: $diametr;
                    width: $diametr;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            button[item-end]{
                height: auto;
                ion-icon{
                    font-size: 1.1rem;
                    color: #949494;
                }
            }
        }
    }
    .block-company{
        .company-select{
            //margin-top: 1.5rem;
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;
            //height: 2.675rem;
            //padding-left: 0 !important;
            .item-inner{
                border-bottom: none !important;
                padding-left: 0.5rem;
                .label{
                }
            }
            .input-wrapper {
                padding-right: 0.4rem;
                > .label{
                    margin: 0 !important;
                    font-size: 0.85rem;
                    color: #A4A4A4;
                    font-weight: 400;
                }
                ion-select{
                    margin: 0;
                    padding: 0;
                    height: 100%;
                    align-items: center;
                    .select-text{
                        font-size: 0.65rem;
                        color: #8b8b8b;
                        font-weight: $MEDIUM;
                        margin-right: 0.2rem;
                    }
                    .select-icon {
                        width: 0.75rem !important;
                        height: 100% !important;
                        margin: auto;
                        .select-icon-inner {
                            //position: absolute;
                            margin-top: 50%;
                            transform: translateY(25%);
                            border-top: 0.25rem solid !important;
                            border-right: 0.25rem solid transparent !important;
                            border-left: 0.25rem solid transparent !important;
                        }
                    }
                }
            }
    
        }
        .company-select + .padding{
            border: none !important;
        }
        .naimenovanie{
            margin-top: 1.2rem;
            font-size: 0.875rem;
            color: #000000;
            font-weight: $REGULAR;
            //height: 3.1rem;
            .item-inner{
                padding-left: 0.5rem;
                .label{
                    margin: auto;
                    //margin-bottom: 0.7rem;
                }
            }
        }
        #addcompany{
            height: auto;
            //border-top: 1px solid #c8c7cc !important;
            //border-bottom: 1px solid #c8c7cc !important;
            button{
                height: auto;
                color: #A4A4A4;
                font-size: 1rem;
                margin-bottom: 0.9rem;
                .item-inner{
                    height: auto;
                    .label{
                        font-size:0.85rem;
                        font-weight: 400;
                    }
                }
                .image-upload{
                    position: relative;
                    margin: 0;
                    margin-right: 0.825rem;
                    min-height: 0;
                    height: auto;
                    line-height: 0;
                    font-size:2.65rem;
                    img{
                        height: 2.65rem;
                        width: 2.65rem;
                    }
                    span{
                        margin-top: 0.1rem;
                    }
                    .line-wrapper{
                        z-index: 2;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        width: 100%;
                        //height: 0.15rem;
                        margin: auto;
                        //background: #f2f2f2;
                        .line{
                            //height: 0.15rem;
                            background: #97afc9;
                        } 
                    }
                }
                .label{
                    font-size: 0.8rem;
                }
            }
            #button_add_company{
                padding-top: 1.52rem;
                padding-bottom: 1.58rem;
                //height: 4.7rem;
                button{
                    color: #ffffff;
                    padding-left:0;
                    height: 2.1rem;
                    border-radius: 0.75rem;
                    font-size: 0.75rem;
                    font-weight: $MEDIUM;
                    $margin: 11%;
                    background: #989898;
                    $width: 100% - $margin * 2;
                    margin-left: $margin;
                    width: $width;
                    margin-bottom:0;
                    ion-icon{
                        font-size: 0.9rem;
                        //margin-left: 1.3rem;
                        min-height: 0;
                    }
                    .item-inner{
                        //height: 2rem;
                        padding: 0 0.45rem !important;
                        .input-wrapper{
                            margin: auto;
                            .label{
                                font-size: 1.05rem;
                                font-weight: 600;
                                margin: 0;
                            }
                            //background:  rgb(154, 147, 191); 
                            //height: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}
