<ion-header>
  
  <ion-item no-lines class="system"></ion-item>
  </ion-header>
  <ion-content class="body">
    
      
      <ion-item text-center no-lines class="item-image my_ion_item logo">
          <ion-icon name="logo_scan_icon"></ion-icon><br>
      </ion-item>
      <button (tap)="pushPageAuthorization()" ion-item id="avtoris"  text-center>
        Войти
      </button>
      <button ion-item no-lines text-center id="registration" (tap)="pushPageRegistration()">
        Зарегистрироваться
      </button>
      <button ion-item no-lines text-center id="lost_pas" (tap)="pushPageLostPas()">
        <u>Забыли пароль?</u>
      </button>
    </ion-content>
