page-starting {
    font-family: 'Roboto', sans-serif;
    .logo{
        height: 17.1rem;
        font-size: 0.7rem;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.174rem;
        color: #fff;
        background: url("../assets/images/bg_reg.jpg") !important;
        background-size: 100% !important;
        .input-wrapper{
            align-items: baseline;
            ion-icon{
                margin-top: 3.9rem;
                font-size: 3.4rem;
            }
            .text{
                margin-top: 0.9rem;
                margin-bottom: 1rem;
            }
        }
    }
    #avtoris{
        padding: 0;
        $otstup: 26.5%;
        $withblock: 100% - $otstup * 2;
        margin-left: 26.5%;
        margin-top: 2.75rem;
        width: 47%;
        height: 2.4rem;
        background: -webkit-gradient(linear, left top, left bottom, from(#ba34ff), to(#7927fd));
        background: linear-gradient(#ba34ff, #7927fd);
        border-radius: 1.3rem;
        font-size: 1.25rem;
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        .item-inner{
            border: none;
        }
    }
    #registration{
        padding-right: 0.4rem;
        color: #6237bc;
        margin-top: 2.17rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1.3rem;
        letter-spacing: -0.02rem;
        font-family: 'Roboto', sans-serif;
        
    }
    #lost_pas{
        padding: 0;
        margin-top: 2.2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 0.85rem;
    }
    .item-inner{
        padding-right: 0px;
        margin: 0;
    }
    .item-md.item-block .item-inner {
        padding-right: 0;
    }
    
}
